*{
    box-sizing: border-box;
}
body{
    padding: 40px;
    background-image: url(../images/africa.jpg);
}

#container{
    border: solid 2px papayawhip;
    width: 1100px;
    min-height: 780px;
    height: auto;
    position: relative;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .clearfix { display: inline-block; }
  /* start commented backslash hack \*/
  * html .clearfix { height: 1%; }
  .clearfix { display: block; }
  /* close commented backslash hack */
#animalbuttons{
    position: relative;
    color: black;
    border: solid 2px papayawhip;
    font-size: 20px;
    margin-bottom: 5px;
    padding: 10px;
    min-height: 100px;
    width: 1100px;
}
#formdiv{
    position:absolute;
    font-weight: 600;
    padding:2px;
    top:5px;
    right:5px;
    text-align: center;
    border: solid 2px papayawhip;
}
.favoritesdiv{
    position: absolute;
    top: 30px;
    left: 0px;
    width: 420px;
    height: 200px;
    border: solid 2px papayawhip;
    text-align: center;
    overflow:auto;   
}
#favtext{
    position: absolute;
    top: 5px;
    left: 5px;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    background-color: papayawhip;
    width: 420px;
    height:30px;
}
.animal{
    background-color: papayawhip;
    opacity: 0.8;
    height: 40px;
    font-size: 20px;
    margin: 5px;
}
.favorite{
    margin: 2px;
    background-color: papayawhip;
    opacity: 0.8;
}
#gifdisplay{
    padding-top:300px;
}
.pictureframe {
    max-width:600px;
    width: auto;
    float: left;
    margin: 10px;
}
#submit{
    background-color: papayawhip;
    opacity: 0.9;
}
@media screen and (max-width: 480px){
    body{
        padding: 5px;
    }
    #container{
        max-width: 440px;
        width: auto;
    }
    #animalbuttons{
        max-width: 440px;
        width: auto;
    }
    .favoritesdiv{
        top: 30px;
        max-width:400px;
        min-width:200px;
        width: 100%;
        height: 200px;
        border: solid 2px papayawhip;
        overflow:auto;
        margin-bottom: 5px;   
    }
    #favtext{
        position:absolute;
        top:100px;
        left: 10%;
        min-width:200px;
        text-align: center;
        font-weight: 700;
        width: 80%;
        font-size: 24px;
        background-color: papayawhip;
        height:30px;
    }
    #gifdisplay{
        padding-top: 350px;
    }
    #formdiv{
        top: 5px;
        width: 80%;
        min-width: 200px;
        left: 10%;
        
    }
}
@media screen and (min-width: 481px) and (max-width: 640px){
    body{
        padding: 10px;
    }
    #container{
        max-width: 480px;
        width: auto;
    }
    #animalbuttons{
        max-width: 480px;
        width: auto;
    }
    #formdiv{
        top: 5px;
        width: 80%;
        min-width: 200px;
        left: 10%;
        }
        .favoritesdiv{
            top: 30px;
            max-width:400px;
            min-width:200px;
            width: 100%;
            height: 200px;
            border: solid 2px papayawhip;
            overflow:auto;
            margin-bottom: 5px;   
        }
        #favtext{
            position:absolute;
            top:100px;
            left: 10%;
            min-width:200px;
            text-align: center;
            font-weight: 700;
            width: 80%;
            font-size: 24px;
            background-color: papayawhip;
            height:30px;
        }
        #gifdisplay{
            padding-top: 350px;
        }
}

@media screen and (min-width: 641px) and (max-width: 768px){
    body{
        padding: 10px;
    }
    #gifdisplay{
        padding-top: 350px;
    }
    #container{
        max-width: 640px;
        width: auto;
        }
    #animalbuttons{
        max-width: 640px;
        width: auto;
    }
}

@media screen and (min-width: 769px) and (max-width: 1180px){
    body{
        padding: 10px;
    }
    #gifdisplay{
        padding-top: 350px;
    }
    #container{
        max-width: 1000px;
        width: auto;
        position: relative;
        margin-right: 10px;
    }
    #animalbuttons{
        max-width: 1000px;
        width: auto;
        margin-right: 10px;
    }
}