*{
    box-sizing: border-box;
}
body{
    padding: 40px;
    background-image: url(../images/africa.jpg);
}
#container{
    border: solid 2px papayawhip;
    width: 1000px;
    min-height: 400px;
    height: auto;
    position: relative;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .clearfix { display: inline-block; }
  /* start commented backslash hack \*/
  * html .clearfix { height: 1%; }
  .clearfix { display: block; }
  /* close commented backslash hack */

#formdiv{
    position:absolute;
    top:0px;
    right:0px;
    border: solid 3px papayawhip;
}
#animalbuttons{
    color: black;
    border: solid 2px papayawhip;
    font-size: 20px;
    margin-bottom: 5px;
    padding: 10px;
    min-height: 100px;
    width: 1000px;
}
.animal{
    background-color: cyan;
    opacity: 0.5;
    height: 40px;
    font-size: 20px;
    margin: 5px;
}
.favorite{
    margin: 2px;
    background-color: cyan;
    opacity: 0.8;
}
#gifdisplay{
    padding-top:80px;
}
.pictureframe {
    max-width:600px;
    width: auto;
    float: left;
    margin: 10px;
}
@media screen and (max-width: 480px){
    body{
        padding: 5px;
    }
    #container{
        max-width: 440px;
        width: auto;
    }
    #animalbuttons{
        max-width: 440px;
        width: auto;
    }
}
@media screen and (min-width: 481px) and (max-width: 640px){
    body{
        padding: 10px;
    }
    #container{
        border: solid 2px papayawhip;
        max-width: 480px;
        min-height: 200px;
        width: auto;
        height: auto;
        position: relative;
    }
    #animalbuttons{
        color: black;
        border: solid 2px papayawhip;
        font-size: 20px;
        margin-bottom: 5px;
        padding: 5px;
        min-height: 100px;
        max-width: 480px;
        width: auto;
    }
}

@media screen and (min-width: 641px) and (max-width: 768px){
    body{
        padding: 10px;
    }
    #container{
        border: solid 2px papayawhip;
        max-width: 640px;
        min-height: 200px;
        width: auto;
        height: auto;
        position: relative;
    }
    #animalbuttons{
        color: black;
        border: solid 2px papayawhip;
        font-size: 20px;
        margin-bottom: 5px;
        padding: 5px;
        min-height: 100px;
        max-width: 640px;
        width: auto;
    }
}

@media screen and (min-width: 769px) and (max-width: 1080px){
    body{
        padding: 10px;
    }
    #container{
        border: solid 2px papayawhip;
        max-width: 768px;
        min-height: 400px;
        width: auto;
        height: auto;
        position: relative;
        margin-right: 10px;
    }
    #animalbuttons{
        color: black;
        border: solid 2px papayawhip;
        font-size: 20px;
        margin-bottom: 5px;
        padding: 5px;
        min-height: 100px;
        max-width: 768px;
        width: auto;
        margin-right: 10px;

    }
}